@import "_vars";

body {
  width: 100vw;
  height: 100vh;
  background-color: $background-color;
}

header.navbar {
  padding: 3px 2vw;

  min-height: 7vh;
  background: $front-grey-color;
  box-shadow: 0 4px 10px rgba(0,0,0,.5);

  img {
    width: 5vh;
    height: 5vh;
  }
}

.darkmode--activated header.navbar
{
  background-color: #88ff00;
  color: black
}

.darkmode--activated i.icon
{
  color: white
}

.darkmode--activated #calendar > div > div.tui-view-3.tui-full-calendar-week-container > div.tui-full-calendar-vlayout-area.tui-view-5.tui-full-calendar-vlayout-container > div.tui-view-7 > div > div.tui-full-calendar-allday-left.tui-full-calendar-left > span
{
  color: white;
}

body.darkmode--activated
{
  color: black;
}

main#container {
  padding: 3vh 5vw;
  width: 100vw;
  min-height: 100vh - $footer-height - 7vh;
}

footer {
  height: $footer-height;
}

.btn {
  margin-top: 5px;
}
