@import "_vars";

body {
    @include themed() {
        background-color: t($bg);
      }

  width: 100vw;
  height: 100vh;
}

header.navbar {
  padding: 3px 2vw;

  min-height: 7vh;
  background: $front-grey-color;
  box-shadow: 0 4px 10px rgba(0,0,0,.5);

  img {
    width: 5vh;
    height: 5vh;
  }
}
main#container {
  padding: 3vh 5vw;
  width: 100vw;
  min-height: 100vh - $footer-height - 7vh;
}
#theme-mode-btn {
  position: fixed;
  bottom: 10px;
  right: 10px;
}
footer {
  height: $footer-height;
}
.btn {
  margin-top: 5px;
}