.nav-icon 
{
  margin: 8px;
}

#loadingImg
{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  max-width: 100%;
}

#validNotification
{
  position: absolute;
  bottom: 0px;
  right: 30px;
}

.margin-10
{
  margin: 10px;
}

.v-application--wrap {
  min-height: 0vh !important;
}